
.box-layout {
    width: 100%;
    height: 100vh;
    align-items: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;

    background:url('../../images/bg.jpg');
}
.box-layout__box {
    background : rgba(255, 255, 255, 0.877);
    border-radius:3px;
    padding : 20px;
    width : 25rem;
    text-align : center;
}

.box-layout__title {
    margin : 0 0 2rem 0;
    font-size :3rem;
}
.box-layout__sub_title {
    margin : 0 0 1rem 0;
    font-size :1.8rem;
}
.box-layout__button {
    padding : 1rem 3rem;
    background : rgb(31, 151, 190);
    border : none;
    color : white;
    margin-top: 1rem;
    font-size : 1.8rem;
    outline : none;
}